@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.home {
  background: url(../image/bg1.jpg);
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
  padding: 2rem;
}

.header .nav_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header .nav_container a img {
  width: 7rem;
}

.header .nav_container #Nav .nav-link {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .75rem;
  margin: 0 .75rem;
  text-transform: capitalize;
}

.header .nav_container #Nav .nav-link:hover {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active:hover {
  color: #000;
}

.header .nav_container #Nav .nav-link.download {
  border: 2px solid #ef5c6e;
  border-radius: 100px;
  padding: .75rem 1.5rem;
}

.header .nav_container #Nav .nav-link.download:hover {
  border: 2px solid #ef5c6e;
  background: #ef5c6e;
  color: #fff;
}

/* Header Section Ends */
.hero .container_box {
  position: relative;
}

.hero .container_box .container_1 .img_bg {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.hero .container_box .container_2 {
  position: absolute;
  top: 0px;
}

.hero .container_box .container_2 .img_man {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.hero .container_box .container_3 {
  height: 335px;
  width: 335px;
  background: #f6a2ac;
  opacity: .35;
  position: absolute;
  top: 50px;
  left: 5px;
  transform: rotate(60deg);
}

.hero .container_box .container_4 {
  height: 295px;
  width: 350px;
  border: 5px solid #ee4e62;
  position: absolute;
  top: 40px;
}

.hero .container_box .container_4 .mini_box {
  position: relative;
  height: 295px;
}

.hero .container_box .container_4 .mini_box .box_1 {
  position: absolute;
  top: 10px;
  right: -70px;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box_2 {
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box_3 {
  position: absolute;
  bottom: -45px;
  right: -35px;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  color: #000;
}

.footer .credit {
  text-align: center;
}

/* Side Navbar Starts (Better Nav) */
.navbar-toggler-icon i {
  color: #6e50f0;
}

body.side-menu-visible #side-menu {
  transform: translateX(-275px);
  padding: 20px 15px;
}

body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid #ef5c6e;
  /* padding: 1px 8px; */
  border-radius: 5px;
}

body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #ef5c6e;
}

body.side-menu-visible #side-menu .close span {
  color: #ef5c6e;
  padding: 1px 8px;
}

body.side-menu-visible #side-menu .close span:hover {
  color: #ef5c6e;
}

body.side-menu-visible #side-menu .nav-link {
  color: #6e50f0;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body.side-menu-visible #side-menu .nav-link:hover {
  color: #ef5c6e;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 6px;
  margin-left: 6px;
}

/* Side Navbar Ends */
