@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins Thin', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: 'Poppins Medium', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins Bold', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Parisienne', cursive;
  src: url(../assets/fonts/Parisienne/Parisienne-Regular.ttf);
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.home {
  background: #6b6b6b;
  background: url(../image/bg1.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.container_section {
  padding: 4rem 0 2rem 0;
}

.relative_box {
  position: relative;
}

.centered {
  display: flex;
  justify-content: center;
}

.colored {
  color: #6e50f0;
}

.ash {
  color: #9b9b9b;
  padding: 0.8rem 0;
}

.subhead {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
}

.head {
  font-weight: 600;
  font-family: "Poppins Medium", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 0.8rem 0;
}

.text {
  text-align: justify;
}

.signature {
  font-size: 1.75rem;
  font-family: "Parisienne", cursive;
  color: #ef5c6e;
  font-weight: 600;
  transform: rotate(-15deg);
  padding: 0.4rem 1rem;
  border-radius: 25px;
}

.signature:hover {
  color: #6e50f0;
  outline: 2px solid #6e50f0;
  transform: rotate(0deg);
}

.btn_common {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  margin: 0.8rem;
}

.btn_common:hover {
  color: #ef5c6e;
  background: #fff;
  outline: 2px solid #ef5c6e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn_colored {
  color: #fff;
  background: #ef5c6e;
  outline: 2px solid #ef5c6e;
}

.btn_colored:hover {
  color: #ef5c6e;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tinybar {
  position: relative;
  outline: 2px solid #fff;
}

.tinybar::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  right: -2px;
  top: 25px;
  transform: translateY(-50%);
  background: #ef5c6e;
}

.tinybar:hover::before {
  right: -17px;
  height: 4px;
}

body {
  position: relative;
}

body .row_sided {
  position: fixed;
  top: 360px;
  left: -100px;
  z-index: 100;
}

body .row_sided ul {
  display: flex;
  transform: rotate(270deg);
}

body .row_sided ul a {
  padding: 0.8rem 1rem;
}

body .row_sided ul a i,
body .row_sided ul a span {
  color: #6e50f0;
  padding: 0 0.4rem 0 0;
}

body .row_sided ul a span {
  color: #000;
  font-weight: 600;
}

body .row_sided ul a:hover {
  outline: 2px solid #6e50f0;
  border-radius: 25px;
}

body .row_sided ul a:hover i,
body .row_sided ul a:hover span {
  color: #ef5c6e;
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
  padding: 2rem 1rem;
}

.header .navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .nav_container {
  display: flex;
  justify-content: space-between;
}

.header .nav_container a img {
  width: 7rem;
}

.header .nav_container #Nav .nav-link {
  color: #000;
  font-size: 1.15rem;
  font-weight: 600;
  padding: .75rem;
  margin: 0 .75rem;
  text-transform: capitalize;
}

.header .nav_container #Nav .nav-link:hover {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active:hover {
  color: #000;
}

.header .nav_container #Nav .nav-link.download {
  border: 2px solid #ef5c6e;
  border-radius: 100px;
  padding: .75rem 1.5rem;
}

.header .nav_container #Nav .nav-link.download:hover {
  border: 2px solid #ef5c6e;
  background: #ef5c6e;
  color: #fff;
}

/* Header Section Ends */
.hero {
  padding-top: 8rem;
}

.hero .top {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem;
}

.hero .top .subhead {
  font-size: 1.75rem;
  font-family: "Poppins Medium", sans-serif;
  font-weight: 600;
  padding: 0.8rem 0;
}

.hero .top .xl {
  padding: 1rem 0;
  font-size: 2.75rem;
  font-family: "Poppins Bold", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.hero .bottom .btn_common {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  margin: 0.8rem;
}

.hero .bottom .btn_common:hover {
  color: #ef5c6e;
  background: #fff;
  outline: 2px solid #ef5c6e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero .bottom .btn_colored {
  color: #fff;
  background: #ef5c6e;
  outline: 2px solid #ef5c6e;
}

.hero .bottom .btn_colored:hover {
  color: #ef5c6e;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero .bottom .tinybar {
  position: relative;
  outline: 2px solid #fff;
}

.hero .bottom .tinybar::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  right: -2px;
  top: 25px;
  transform: translateY(-50%);
  background: #ef5c6e;
}

.hero .bottom .tinybar:hover::before {
  right: -17px;
  height: 4px;
}

.hero .container_box {
  position: relative;
  width: auto;
  margin-left: 25%;
}

.hero .container_box .container_1 .img_bg {
  background-color: #575757;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.hero .container_box .container_2 {
  position: absolute;
  top: 0px;
}

.hero .container_box .container_2 .img_man {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.hero .container_box .container_3 {
  height: 335px;
  width: 335px;
  background: #f6a2ac;
  opacity: .35;
  position: absolute;
  top: 50px;
  left: 5px;
  transform: rotate(60deg);
}

.hero .container_box .container_4 {
  height: 295px;
  width: 350px;
  border: 5px solid #ee4e62;
  position: absolute;
  top: 40px;
}

.hero .container_box .container_4 .mini_box {
  position: relative;
  height: 295px;
}

.hero .container_box .container_4 .mini_box .box_1 {
  position: absolute;
  top: 10px;
  right: -100px;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box1_inside {
  width: 150px;
  height: 150px;
}

.hero .container_box .container_4 .mini_box .box_2 {
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box2_inside {
  width: 200px;
  height: 200px;
}

.hero .container_box .container_4 .mini_box .box_3 {
  position: absolute;
  bottom: -45px;
  right: -35px;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box3_inside {
  width: 80px;
  height: 80px;
}

.hero .container_box .container_4 .mini_box .box_inside {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
  color: #6e50f0;
  font-size: 2rem;
  font-weight: 600;
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
  color: #ef5c6e;
  font-size: 2rem;
}

.hero .mouse_click::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 30px;
  outline: 2px solid #000;
  border-radius: 8px;
  bottom: 50px;
  right: 200px;
}

.hero .mouse_click::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 8px;
  background: #000;
  border-radius: 8px;
  bottom: 65px;
  right: 207px;
  animation: 1.75s up_down linear infinite;
}

.hero .mouse_click:hover::before {
  background: #ef5c6e;
}

.hero .mouse_click:hover::after {
  background: #fff;
}

@keyframes up_down {
  0% {
    bottom: 67px;
  }
  25% {
    bottom: 65px;
  }
  50% {
    bottom: 63px;
  }
  75% {
    bottom: 65px;
  }
  100% {
    bottom: 67px;
  }
}

.about {
  position: relative;
  min-height: 90vh;
}

.about .col_about_left {
  position: absolute;
  top: -60px;
}

.about .col_about_left .img_about {
  background: url(../image/img_bg5.jpg) center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  width: 35vw;
  height: auto;
  overflow: hidden;
  top: -20px;
  position: relative;
}

.about .col_about_left .box_about {
  border: 5px solid #6e50f0;
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: -16%;
  left: -12%;
  z-index: 1;
}

.about .col_about_left .text_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.about .col_about_left .text_container .box_text {
  position: absolute;
  bottom: -100px;
  left: 16px;
}

.about .col_about_left .text_container .box_text .xxxl {
  font-size: 270px;
  font-weight: 800;
  color: #fff;
}

.about .col_about_right .top {
  padding: 1.6rem;
}

.about .col_about_right .bottom {
  padding: 0.4rem 1.6rem;
  font-weight: 600;
}

.footer .credit {
  text-align: center;
}

/* Side Navbar Starts (Better Nav) */
.navbar-toggler-icon i {
  color: #6e50f0;
}

body.side-menu-visible #side-menu {
  transform: translateX(-275px);
  padding: 20px 15px;
}

body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid #ef5c6e;
  /* padding: 1px 8px; */
  border-radius: 5px;
}

body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #ef5c6e;
}

body.side-menu-visible #side-menu .close span {
  color: #ef5c6e;
  padding: 1px 8px;
}

body.side-menu-visible #side-menu .close span:hover {
  color: #ef5c6e;
}

body.side-menu-visible #side-menu .nav-link {
  color: #6e50f0;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body.side-menu-visible #side-menu .nav-link:hover {
  color: #ef5c6e;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 6px;
  margin-left: 6px;
}

/* Side Navbar Ends */
@media (min-width: 767.99px) and (max-width: 991.99px) {
  .header {
    padding: 1.25rem 0 1rem 0;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .top,
  .bottom {
    text-align: center;
  }
  .hero .container_box {
    margin-left: 0;
  }
  .about .col_about_left {
    position: relative;
    top: 5px;
  }
  .about .col_about_left .img_about {
    text-align: center;
    width: 55vw;
    margin: 0 auto;
  }
  .about .col_about_left .box_about {
    border-radius: 15px;
    width: 62%;
    height: 100%;
    top: -12%;
    left: 24%;
  }
}

@media (min-width: 575.99px) and (max-width: 767.98px) {
  .p_s3 {
    padding: 1rem 0;
  }
  .header {
    padding: 1rem 0.5rem;
  }
  .head {
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 1.25;
    padding: 0.5rem 0;
  }
  .subhead {
    font-size: 1.5rem;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  body .row_sided {
    position: fixed;
    bottom: 80px;
    left: -5px;
    transform: none;
  }
  body .row_sided ul {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
  }
  body .row_sided ul a span {
    display: none;
  }
  .hero {
    padding-bottom: 1rem;
  }
  .hero .top {
    padding: 0 0.4rem;
  }
  .hero .top .xl {
    padding: 0.4rem;
    font-size: 2.5rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
  }
  .hero .bottom {
    text-align: center;
  }
  .hero .container_box {
    margin-left: 2%;
  }
  .hero .container_box .container_1 .img_bg {
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
  }
  .hero .container_box .container_2 {
    position: absolute;
    top: 0px;
  }
  .hero .container_box .container_2 .img_man {
    width: 80vw;
    height: 80vw;
  }
  .hero .container_box .container_3 {
    height: 85%;
    width: 70%;
    top: 10vw;
    left: 10vw;
  }
  .hero .container_box .container_4 {
    height: 75%;
    width: 84%;
  }
  .hero .container_box .container_4 .mini_box {
    height: 75%;
  }
  .hero .container_box .container_4 .mini_box .box_1 {
    width: 15vw;
    height: 15vw;
    right: -15%;
  }
  .hero .container_box .container_4 .mini_box .box1_inside {
    width: 15vw;
    height: 15vw;
  }
  .hero .container_box .container_4 .mini_box .box_2 {
    width: 20vw;
    height: 20vw;
  }
  .hero .container_box .container_4 .mini_box .box2_inside {
    width: 20vw;
    height: 20vw;
  }
  .hero .container_box .container_4 .mini_box .box_3 {
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .hero .container_box .container_4 .mini_box .box3_inside {
    width: 10vw;
    height: 10vw;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
    color: #6e50f0;
    font-size: 1.15rem;
    font-weight: 600;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
    color: #000;
    font-size: 0.5rem;
    font-weight: 600;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
    color: #ef5c6e;
    font-size: 1.75rem;
  }
  .hero .mouse_click::before {
    bottom: 50px;
    right: 75px;
  }
  .hero .mouse_click::after {
    bottom: 65px;
    right: 82px;
  }
  .hero .mouse_click:hover::before {
    background: #ef5c6e;
  }
  .hero .mouse_click:hover::after {
    background: #fff;
  }
  .about .col_about_left {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
  }
  .about .col_about_left .img_about {
    width: 60vw;
  }
  .about .col_about_left .box_about {
    width: 60vw;
    height: 60vw;
    top: -35px;
    left: 42%;
    transform: translateX(-50%);
    border-radius: 15px;
  }
  .about .col_about_left .text_container .box_text .xxxl {
    font-size: 15rem;
  }
  .about .col_about_right {
    text-align: center;
  }
  .about .col_about_right .top {
    padding: 0.25rem;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .col-xs-1 {
    width: 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
  }
  .col-xs-2 {
    width: calc(8.333333333333334*2%);
    flex: 0 0 calc(8.333333333333334*2%);
  }
  .col-xs-3 {
    width: calc(8.333333333333334*3%);
    flex: 0 0 calc(8.333333333333334*3%);
  }
  .col-xs-4 {
    width: calc(8.333333333333334*4%);
    flex: 0 0 calc(8.333333333333334*4%);
  }
  .col-xs-5 {
    width: calc(8.333333333333334*5%);
    flex: 0 0 calc(8.333333333333334*5%);
  }
  .col-xs-6 {
    width: calc(8.333333333333334*6%);
    flex: 0 0 calc(8.333333333333334*6%);
  }
  .col-xs-7 {
    width: calc(8.333333333333334*7%);
    flex: 0 0 calc(8.333333333333334*7%);
  }
  .col-xs-8 {
    width: calc(8.333333333333334*8%);
    flex: 0 0 calc(8.333333333333334*8%);
  }
  .col-xs-9 {
    width: calc(8.333333333333334*9%);
    flex: 0 0 calc(8.333333333333334*9%);
  }
  .col-xs-10 {
    width: calc(8.333333333333334*10%);
    flex: 0 0 calc(8.333333333333334*10%);
  }
  .col-xs-11 {
    width: calc(8.333333333333334*11%);
    flex: 0 0 calc(8.333333333333334*11%);
  }
  .col-xs-12 {
    width: 100%;
    flex: 0 0 calc(8.333333333333334*12%);
  }
  .col-xs-12 {
    width: 100%;
    flex: 0 0 calc(8.333333333333334*12%);
  }
  body .row_sided {
    position: fixed;
    bottom: 80px;
    left: -5px;
    transform: none;
  }
  body .row_sided ul {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
  }
  body .row_sided ul a span {
    display: none;
  }
  body .home .header {
    padding: 1rem 0.5rem;
  }
  body .home .top .xl {
    padding: 0.4rem;
    font-size: 2rem;
    letter-spacing: 3px;
  }
  body .home .top,
  body .home .bottom {
    text-align: center;
  }
  body .home .mouse_click {
    display: none;
  }
  body .hero {
    padding-top: 5rem;
  }
  body .hero .container_box {
    margin-left: 2%;
  }
  body .hero .container_box .container_1 .img_bg {
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
  }
  body .hero .container_box .container_2 {
    position: absolute;
    top: 0px;
  }
  body .hero .container_box .container_2 .img_man {
    width: 80vw;
    height: 80vw;
  }
  body .hero .container_box .container_3 {
    height: 85%;
    width: 70%;
    top: 10vw;
    left: 10vw;
  }
  body .hero .container_box .container_4 {
    height: 75%;
    width: 84%;
  }
  body .hero .container_box .container_4 .mini_box {
    height: 75%;
  }
  body .hero .container_box .container_4 .mini_box .box_1 {
    width: 15vw;
    height: 15vw;
    right: -15%;
  }
  body .hero .container_box .container_4 .mini_box .box1_inside {
    width: 15vw;
    height: 15vw;
  }
  body .hero .container_box .container_4 .mini_box .box_2 {
    width: 20vw;
    height: 20vw;
  }
  body .hero .container_box .container_4 .mini_box .box2_inside {
    width: 20vw;
    height: 20vw;
  }
  body .hero .container_box .container_4 .mini_box .box_3 {
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  body .hero .container_box .container_4 .mini_box .box3_inside {
    width: 10vw;
    height: 10vw;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
    color: #6e50f0;
    font-size: 1.15rem;
    font-weight: 600;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
    color: #000;
    font-size: 0.5rem;
    font-weight: 600;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
    color: #ef5c6e;
    font-size: 1.75rem;
  }
  body .hero .top .subhead {
    font-size: 1.5rem;
  }
  body .hero .top .xl {
    font-size: 2rem;
  }
  body .about .col_about_left {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
  }
  body .about .col_about_left .img_about {
    width: 60vw;
  }
  body .about .col_about_left .box_about {
    width: 60vw;
    height: 60vw;
    top: -35px;
    left: 42%;
    transform: translateX(-50%);
    border-radius: 15px;
  }
  body .about .col_about_left .text_container .box_text .xxxl {
    font-size: 15rem;
  }
  body .about .col_about_left .text_container .box_text {
    bottom: -50px;
    left: 27px;
  }
  body .about .col_about_left .text_container .box_text .xxxl {
    font-size: 10rem;
  }
}
