@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins Thin', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: 'Poppins Medium', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins Bold', sans-serif;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Parisienne', cursive;
  src: url(../assets/fonts/Parisienne/Parisienne-Regular.ttf);
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.home {
  background: #6b6b6b;
  background: url(../image/bg1.jpg);
  background-size: cover;
  position: relative;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.container_section {
  padding: 1.5rem 0;
}

.relative_box {
  position: relative;
}

.centered {
  display: flex;
  justify-content: center;
}

.colored {
  color: #6e50f0;
}

.ash {
  color: #9b9b9b;
  padding: 0.8rem 0;
}

.subhead {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.head {
  font-weight: 800;
  font-family: "Poppins Medium", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.25;
  padding: 0.8rem 0;
}

.m {
  font-size: 1.5rem;
  padding: 0 0 0.8rem 0;
  line-height: 1.5;
}

.l {
  font-size: 2rem;
  padding: 0.5rem 0 0 0;
  line-height: 1.5;
}

.xl {
  padding: 1rem 0;
  font-size: 3rem;
  font-family: "Poppins Bold", sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text {
  text-align: justify;
  line-height: 1.5;
}

.pad_y {
  padding: 2rem 0;
}

.pad_x {
  padding: 0 2rem;
}

.signature {
  font-size: 1.75rem;
  font-family: "Parisienne", cursive;
  color: #ef5c6e;
  font-weight: 600;
  transform: rotate(-15deg);
  padding: 0.4rem 1rem;
  border-radius: 25px;
}

.signature:hover {
  color: #6e50f0;
  outline: 2px solid #6e50f0;
  transform: rotate(0deg);
}

.btn_common {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  margin: 0.8rem;
}

.btn_common:hover {
  color: #ef5c6e;
  background: #fff;
  outline: 2px solid #ef5c6e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn_colored {
  color: #fff;
  background: #ef5c6e;
  outline: 2px solid #ef5c6e;
}

.btn_colored:hover {
  color: #ef5c6e;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tinybar {
  position: relative;
  outline: 2px solid #fff;
}

.tinybar::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  right: -2px;
  top: 25px;
  transform: translateY(-50%);
  background: #ef5c6e;
}

.tinybar:hover::before {
  right: -17px;
  height: 4px;
}

.owl-dots {
  padding: 0.5rem 0;
}

.owl-dots .owl-dot.active span {
  background: #6e50f0;
  color: #6e50f0;
  outline: 2px solid #ef5c6e;
  outline-offset: 5px;
}

.owl-dots .owl-dot:hover span {
  background: #6e50f0;
}

.ab-progress .ab-progress-bar {
  background: linear-gradient(to left, #6e50f0, #ef5c6e);
}

.ab-progress .progress-bar-wrap {
  background: #dddddd;
}

.ab-progress .percent {
  color: #ef5c6e;
}

.ab-progress .progress-indicator-inner {
  background: transparent;
}

.ab-progress .down-arrow {
  border-top: 7px solid #fff;
}

.ab-progress .progress-title {
  color: #000;
  font-family: "Poppins Medium", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

body {
  position: relative;
}

body .row_sided {
  position: fixed;
  top: 360px;
  left: -120px;
  z-index: 100;
}

body .row_sided ul {
  display: flex;
  transform: rotate(270deg);
}

body .row_sided ul a {
  padding: 0.8rem 1rem;
}

body .row_sided ul a i,
body .row_sided ul a span {
  color: #6e50f0;
  padding: 0 0.4rem 0 0;
}

body .row_sided ul a span {
  color: #000;
  font-weight: 600;
}

body .row_sided ul a:hover {
  outline: 2px solid #6e50f0;
  border-radius: 25px;
}

body .row_sided ul a:hover i,
body .row_sided ul a:hover span {
  color: #ef5c6e;
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
  padding: 2rem 1rem;
}

.header .navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .nav_container {
  display: flex;
  justify-content: space-between;
}

.header .nav_container a img {
  width: 7rem;
}

.header .nav_container #Nav .nav-link {
  color: #000;
  font-size: 1.15rem;
  font-weight: 600;
  padding: .75rem;
  margin: 0 .75rem;
  text-transform: capitalize;
}

.header .nav_container #Nav .nav-link:hover {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active {
  color: #ef5c6e;
}

.header .nav_container #Nav .nav-link.active:hover {
  color: #000;
}

.header .nav_container #Nav .nav-link.download {
  border: 2px solid #ef5c6e;
  border-radius: 100px;
  padding: .75rem 1.5rem;
}

.header .nav_container #Nav .nav-link.download:hover {
  border: 2px solid #ef5c6e;
  background: #ef5c6e;
  color: #fff;
}

/* Header Section Ends */
.hero {
  position: relative;
  padding: 9rem 0;
  bottom: 0;
}

.hero .box_text {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.hero .box_text .xxxl {
  font-size: 15rem;
  font-size: min(max(5rem, 12vw), 15rem);
  font-size: clamp(5rem, 12vw, 15rem);
  color: transparent;
  font-weight: 800;
  opacity: .1;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: -8px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  -webkit-text-stroke: 1px black;
}

.hero .top {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem;
}

.hero .bottom .btn_common {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  margin: 0.8rem;
}

.hero .bottom .btn_common:hover {
  color: #ef5c6e;
  background: #fff;
  outline: 2px solid #ef5c6e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero .bottom .btn_colored {
  color: #fff;
  background: #ef5c6e;
  outline: 2px solid #ef5c6e;
}

.hero .bottom .btn_colored:hover {
  color: #ef5c6e;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero .bottom .tinybar {
  position: relative;
  outline: 2px solid #fff;
}

.hero .bottom .tinybar::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  right: -2px;
  top: 25px;
  transform: translateY(-50%);
  background: #ef5c6e;
}

.hero .bottom .tinybar:hover::before {
  right: -17px;
  height: 4px;
}

.hero .container_box {
  position: relative;
  width: auto;
  margin-left: 25%;
}

.hero .container_box .container_1 .img_bg {
  background-color: #575757;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.hero .container_box .container_2 {
  position: absolute;
  top: 0px;
}

.hero .container_box .container_2 .img_man {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.hero .container_box .container_3 {
  height: 335px;
  width: 335px;
  background: #f6a2ac;
  opacity: .35;
  position: absolute;
  top: 50px;
  left: 5px;
  transform: rotate(60deg);
}

.hero .container_box .container_4 {
  height: 295px;
  width: 350px;
  border: 5px solid #ee4e62;
  position: absolute;
  top: 40px;
}

.hero .container_box .container_4 .mini_box {
  position: relative;
  height: 295px;
  z-index: 10;
}

.hero .container_box .container_4 .mini_box .box_1 {
  position: absolute;
  top: 10px;
  right: -100px;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box1_inside {
  width: 150px;
  height: 150px;
}

.hero .container_box .container_4 .mini_box .box_2 {
  position: absolute;
  bottom: -35px;
  left: -35px;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box2_inside {
  width: 200px;
  height: 200px;
}

.hero .container_box .container_4 .mini_box .box_3 {
  position: absolute;
  bottom: -45px;
  right: -35px;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .container_box .container_4 .mini_box .box3_inside {
  width: 80px;
  height: 80px;
}

.hero .container_box .container_4 .mini_box .box_inside {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
  color: #6e50f0;
  font-size: 2rem;
  font-weight: 600;
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
  color: #ef5c6e;
  font-size: 2rem;
}

.hero .mouse_click::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 30px;
  outline: 2px solid #000;
  border-radius: 8px;
  bottom: 50px;
  right: 200px;
}

.hero .mouse_click::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 8px;
  background: #000;
  border-radius: 8px;
  bottom: 65px;
  right: 207px;
  animation: 1.75s up_down linear infinite;
}

.hero .mouse_click:hover::before {
  background: #ef5c6e;
}

.hero .mouse_click:hover::after {
  background: #fff;
}

@keyframes up_down {
  0% {
    bottom: 67px;
  }
  25% {
    bottom: 65px;
  }
  50% {
    bottom: 63px;
  }
  75% {
    bottom: 65px;
  }
  100% {
    bottom: 67px;
  }
}

.about {
  position: relative;
}

.about .col_about_left {
  position: absolute;
  top: -60px;
}

.about .col_about_left .img_about {
  background: url(../image/img_bg5.jpg) center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  width: 35vw;
  height: auto;
  overflow: hidden;
  top: -20px;
  position: relative;
}

.about .col_about_left .box_about {
  border: 5px solid #6e50f0;
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: -16%;
  left: -12%;
  z-index: 1;
}

.about .col_about_left .text_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.about .col_about_left .text_container .box_text {
  position: absolute;
  bottom: -100px;
  left: 16px;
}

.about .col_about_left .text_container .box_text .xxxl {
  font-size: 15rem;
  font-weight: 800;
  color: #fff;
}

.about .col_about_right .top {
  padding: 1.5rem;
}

.about .col_about_right .top .text {
  padding: 1rem 0;
  line-height: 1.5;
}

.about .col_about_right .bottom {
  padding: 0.4rem 1.5rem;
  font-weight: 600;
}

.portfolio .owl_portfolio .owl-item .box {
  min-width: 300px;
  min-height: 380px;
  max-width: 400px;
  max-height: 450px;
  border-radius: 10px;
  background-color: rgba(255, 118, 5, 0.808);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .owl_portfolio .owl-item .box:hover img {
  transform: scale(0.65) rotate(10deg);
  border-radius: 30px;
}

.portfolio .owl_portfolio .owl-item img {
  width: 75%;
}

.portfolio .owl_portfolio .owl-item:nth-child(odd) .box {
  background-color: rgba(0, 245, 253, 0.808);
  margin-top: 50px;
}

.service {
  padding: 3.5rem 0;
}

.service .bottom {
  padding: 2rem 0;
}

.service .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service .box {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  margin: 0.8rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.service .box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
}

.service .box:hover .left .left_box::before {
  background: #fcd985;
}

.service .box:hover .left .left_box::after {
  background: #f2f5fa;
}

.service .box:hover .left .left_box i {
  color: #6e50f0;
}

.service .box .left {
  padding: 1.5rem;
}

.service .box .left .left_box {
  position: relative;
}

.service .box .left .left_box::before {
  width: 40px;
  height: 40px;
  background: #f2f5fa;
  z-index: -100;
}

.service .box .left .left_box::after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fcd985;
  bottom: -20px;
  right: -20px;
  z-index: -100;
}

.service .box .left .left_box i {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 3rem;
  color: #ef5c6e;
}

.service .box .right {
  padding: 1.5rem;
}

.service .box .right .text {
  line-height: 1.35;
}

.service .box .right .btn_common {
  margin: 0 0 0 -1rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-weight: 600;
}

.service .box .right .tinybar {
  outline: 1px solid #fff;
}

.service .box .right .tinybar::before {
  height: 3px;
  right: -10px;
  top: 1.2rem;
}

.service .box .right .tinybar:hover::before {
  height: 4px;
  right: -16px;
}

.skill .row {
  position: relative;
}

.skill .box_text {
  left: -12%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.skill .box_text .xxxl {
  font-size: 15rem;
  font-size: min(max(5rem, 12vw), 15rem);
  font-size: clamp(5rem, 12vw, 15rem);
  color: transparent;
  font-weight: 800;
  opacity: .1;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: -8px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  -webkit-text-stroke: 1px black;
}

.skill .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.skill .grid .grid-col .subhead {
  text-align: center;
}

.skill .grid .grid-col-1 {
  grid-row: 1/3;
  padding: 2rem;
}

.skill .grid .grid-col-1 .col_about_left {
  position: relative;
}

.skill .grid .grid-col-1 .col_about_left .box_about {
  border: 5px solid #ef5c6e;
  width: 22vw;
  height: 30vw;
  position: absolute;
  top: -50px;
}

.skill .grid .grid-col-1 .col_about_left .img_about {
  background: #949494;
  background: url(../image/img_bg5.jpg) center;
  background-size: cover;
  border-radius: 10px;
  width: 22vw;
  height: 30vw;
  position: absolute;
  top: 0;
  left: 10%;
}

.skill .grid .grid-col-1 .col_about_left .img_front {
  position: absolute;
  width: auto;
  height: 30vw;
  left: 2%;
}

.skill .grid .grid-col-3 {
  justify-self: stretch;
  grid-column: 2/3;
}

.speciality {
  position: relative;
}

.speciality .box_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 0;
  top: 100%;
}

.speciality .box_text .xxxl {
  font-size: 15rem;
  font-size: min(max(5rem, 12vw), 15rem);
  font-size: clamp(5rem, 12vw, 15rem);
  color: transparent;
  font-weight: 800;
  opacity: .1;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: -8px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  -webkit-text-stroke: 1px black;
}

.speciality .bottom .box {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.8rem;
}

.speciality .bottom .box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.speciality .bottom .box:hover .left .left_box i {
  color: #6e50f0;
  transform: scaleX(-1);
}

.speciality .bottom .left {
  padding: 0.8rem;
}

.speciality .bottom .left .left_box {
  position: relative;
}

.speciality .bottom .left .left_box i {
  position: relative;
  font-size: 2.5rem;
  color: #ef5c6e;
}

.speciality .bottom .right {
  padding: 0.8rem;
}

.speciality .bottom .right .text {
  line-height: 1.35;
}

.testimony .bg_cover {
  min-height: 75vh;
  background: #6e50f0;
  position: relative;
  color: #fff;
}

.testimony .text_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.testimony .text_container .box_text {
  position: absolute;
  bottom: -100px;
  left: 16px;
}

.testimony .text_container .box_text .xxxl {
  font-size: 15rem;
  font-weight: 800;
  color: #fff;
}

.testimony .text_container .box_text {
  position: absolute;
  bottom: -120px;
}

.testimony .grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.testimony .grid .grid-col {
  overflow: hidden;
}

.testimony .left {
  padding: 1rem 2rem;
}

.testimony .left .head {
  font-size: 14rem;
  font-family: 'Montagu Slab', serif;
  transform: rotate(180deg);
  display: flex;
  justify-content: end;
  margin-top: -8rem;
}

.testimony .left .subhead_s {
  font-size: 1.25rem;
}

.testimony .left .subhead {
  font-size: 2.5rem;
  letter-spacing: .125rem;
  padding: .75rem 0;
}

.testimony .left .text {
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem 0;
}

.testimony .right {
  padding: 1rem 2rem;
}

.testimony .right .item .subhead {
  font-style: italic;
  font-weight: 400;
  text-align: justify;
  padding: 1.5rem 0;
}

.testimony .right .item .xxl {
  font-size: 0.75rem;
  font-weight: 200;
  position: relative;
}

.testimony .right .item .client {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-left: 30px;
}

.testimony .right .item .client::before {
  content: " ";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 10px;
  left: -10px;
  background: white;
}

.testimony .owl-dots {
  padding: 0.5rem 0;
}

.testimony .owl-dots .owl-dot span {
  width: 50px;
  height: 5px;
  margin: 3rem 1.5rem;
  background: #d6d6d6;
  border-radius: 1px;
  position: relative;
}

.testimony .owl-dots .owl-dot.active span {
  background: #ef5c6e;
  outline: none;
}

.testimony .owl-dots .owl-dot.active span::before, .testimony .owl-dots .owl-dot.active span::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 5px;
  background: #ef5c6e;
  border-radius: 1px;
}

.testimony .owl-dots .owl-dot.active span::before {
  top: -4px;
  right: -5px;
  transform: rotate(45deg);
}

.testimony .owl-dots .owl-dot.active span::after {
  top: 4px;
  right: -5px;
  transform: rotate(315deg);
}

.testimony .owl-dots .owl-dot:hover span {
  background: #fff;
}

.testimony .owl-dots .owl-dot:hover span::before, .testimony .owl-dots .owl-dot:hover span::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 5px;
  background: #ef5c6e;
  border-radius: 1px;
}

.testimony .owl-dots .owl-dot:hover span::before {
  top: -4px;
  right: -5px;
  transform: rotate(45deg);
}

.testimony .owl-dots .owl-dot:hover span::after {
  top: 4px;
  right: -5px;
  transform: rotate(315deg);
}

.testimony .owl-dots .owl-dot:hover span::before, .testimony .owl-dots .owl-dot:hover span::after {
  background: #fff;
}

.brand {
  position: relative;
}

.brand .box_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 0;
  top: 0;
}

.brand .box_text .xxxl {
  font-size: 15rem;
  font-size: min(max(5rem, 12vw), 15rem);
  font-size: clamp(5rem, 12vw, 15rem);
  color: transparent;
  font-weight: 800;
  opacity: .1;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: -8px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  -webkit-text-stroke: 1px black;
}

.brand .bg_cover {
  min-height: 30vh;
  background: #ef5c6e;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}

.brand .subhead {
  color: #fff;
  line-height: 1.5;
  padding: 2rem;
}

.brand .owl-carousel {
  display: flex;
  align-items: center;
}

.brand .owl-carousel .item {
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.brand .owl-carousel .item img {
  filter: grayscale(100%);
  opacity: .75;
  width: 300px;
  height: auto;
}

.footer .credit {
  text-align: center;
}

/* Side Navbar Starts (Better Nav) */
.navbar-toggler-icon i {
  color: #6e50f0;
}

body.side-menu-visible #side-menu {
  transform: translateX(-275px);
  padding: 20px 15px;
}

body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid #ef5c6e;
  /* padding: 1px 8px; */
  border-radius: 5px;
}

body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #ef5c6e;
}

body.side-menu-visible #side-menu .close span {
  color: #ef5c6e;
  padding: 1px 8px;
}

body.side-menu-visible #side-menu .close span:hover {
  color: #ef5c6e;
}

body.side-menu-visible #side-menu .nav-link {
  color: #6e50f0;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body.side-menu-visible #side-menu .nav-link:hover {
  color: #ef5c6e;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 6px;
  margin-left: 6px;
}

/* Side Navbar Ends */
@media (min-width: 767.99px) and (max-width: 991.99px) {
  .header {
    padding: 1.25rem 0 1rem 0;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .top,
  .bottom {
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .hero .container_box {
    margin-left: 0;
  }
  .about .col_about_left {
    position: relative;
    top: 5px;
  }
  .about .col_about_left .img_about {
    text-align: center;
    width: 55vw;
    margin: 0 auto;
  }
  .about .col_about_left .box_about {
    border-radius: 15px;
    width: 62%;
    height: 100%;
    top: -12%;
    left: 24%;
  }
  .service .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .skill .grid {
    gap: 1rem;
  }
  .skill .grid .grid-col-1 {
    grid-row: 1/2;
    padding: 0.5rem 2rem;
  }
  .skill .grid .grid-col-1 .col_about_left .box_about {
    top: -30px;
  }
  .skill .grid .grid-col-3 {
    grid-column: 1/3;
    padding: 0 5rem;
  }
}

@media (min-width: 575.99px) and (max-width: 767.98px) {
  .p_s3 {
    padding: 1rem 0;
  }
  .header {
    padding: 1rem 0.5rem;
  }
  .head {
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 1.25;
    padding: 0.5rem 0;
  }
  .subhead {
    font-size: 1.35rem;
  }
  .l {
    font-size: 1.5rem;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  body .row_sided {
    position: fixed;
    bottom: 80px;
    left: -5px;
    transform: none;
  }
  body .row_sided ul {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
  }
  body .row_sided ul a span {
    display: none;
  }
  .hero {
    padding: 5rem 0;
  }
  .hero .top {
    padding: 0 0.4rem;
  }
  .hero .top .xl {
    padding: 0.4rem;
    font-size: 2.5rem;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
  }
  .hero .bottom {
    text-align: center;
  }
  .hero .container_box {
    margin-left: 2%;
  }
  .hero .container_box .container_1 .img_bg {
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
  }
  .hero .container_box .container_2 {
    position: absolute;
    top: 0px;
  }
  .hero .container_box .container_2 .img_man {
    width: 80vw;
    height: 80vw;
  }
  .hero .container_box .container_3 {
    height: 85%;
    width: 70%;
    top: 10vw;
    left: 10vw;
  }
  .hero .container_box .container_4 {
    height: 75%;
    width: 84%;
  }
  .hero .container_box .container_4 .mini_box {
    height: 75%;
  }
  .hero .container_box .container_4 .mini_box .box_1 {
    width: 15vw;
    height: 15vw;
    right: -15%;
  }
  .hero .container_box .container_4 .mini_box .box1_inside {
    width: 15vw;
    height: 15vw;
  }
  .hero .container_box .container_4 .mini_box .box_2 {
    width: 20vw;
    height: 20vw;
  }
  .hero .container_box .container_4 .mini_box .box2_inside {
    width: 20vw;
    height: 20vw;
  }
  .hero .container_box .container_4 .mini_box .box_3 {
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .hero .container_box .container_4 .mini_box .box3_inside {
    width: 10vw;
    height: 10vw;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
    color: #6e50f0;
    font-size: 1.15rem;
    font-weight: 600;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
    color: #000;
    font-size: 0.5rem;
    font-weight: 600;
  }
  .hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
    color: #ef5c6e;
    font-size: 1.75rem;
  }
  .hero .mouse_click::before {
    bottom: 50px;
    right: 75px;
  }
  .hero .mouse_click::after {
    bottom: 65px;
    right: 82px;
  }
  .hero .mouse_click:hover::before {
    background: #ef5c6e;
  }
  .hero .mouse_click:hover::after {
    background: #fff;
  }
  .about .col_about_left {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
  }
  .about .col_about_left .img_about {
    width: 60vw;
  }
  .about .col_about_left .box_about {
    width: 60vw;
    height: 60vw;
    top: -35px;
    left: 42%;
    transform: translateX(-50%);
    border-radius: 15px;
  }
  .about .col_about_left .text_container .box_text .xxxl {
    font-size: 15rem;
  }
  .about .col_about_right {
    text-align: center;
  }
  .about .col_about_right .top {
    padding: 0.25rem;
  }
  .service .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .speciality .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .skill .grid {
    gap: 1rem;
  }
  .skill .grid .grid-col-1 {
    grid-row: 1/2;
  }
  .skill .grid .grid-col-1 .col_about_left .box_about {
    top: -30px;
  }
  .skill .grid .grid-col-3 {
    grid-column: 1/3;
    padding: 0 5rem;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 86%;
    margin: 0 auto;
  }
  .col-xs-1 {
    width: 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
  }
  .col-xs-2 {
    width: calc(8.333333333333334*2%);
    flex: 0 0 calc(8.333333333333334*2%);
  }
  .col-xs-3 {
    width: calc(8.333333333333334*3%);
    flex: 0 0 calc(8.333333333333334*3%);
  }
  .col-xs-4 {
    width: calc(8.333333333333334*4%);
    flex: 0 0 calc(8.333333333333334*4%);
  }
  .col-xs-5 {
    width: calc(8.333333333333334*5%);
    flex: 0 0 calc(8.333333333333334*5%);
  }
  .col-xs-6 {
    width: calc(8.333333333333334*6%);
    flex: 0 0 calc(8.333333333333334*6%);
  }
  .col-xs-7 {
    width: calc(8.333333333333334*7%);
    flex: 0 0 calc(8.333333333333334*7%);
  }
  .col-xs-8 {
    width: calc(8.333333333333334*8%);
    flex: 0 0 calc(8.333333333333334*8%);
  }
  .col-xs-9 {
    width: calc(8.333333333333334*9%);
    flex: 0 0 calc(8.333333333333334*9%);
  }
  .col-xs-10 {
    width: calc(8.333333333333334*10%);
    flex: 0 0 calc(8.333333333333334*10%);
  }
  .col-xs-11 {
    width: calc(8.333333333333334*11%);
    flex: 0 0 calc(8.333333333333334*11%);
  }
  .col-xs-12 {
    width: 100%;
    flex: 0 0 calc(8.333333333333334*12%);
  }
  .col-xs-12 {
    width: 100%;
    flex: 0 0 calc(8.333333333333334*12%);
  }
  .subhead {
    font-size: 1.25rem;
  }
  .l {
    font-size: 1.75rem;
  }
  body .row_sided {
    position: fixed;
    bottom: 80px;
    left: -5px;
    transform: none;
  }
  body .row_sided ul {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
  }
  body .row_sided ul a span {
    display: none;
  }
  body .home .header {
    padding: 1rem 0.25rem;
  }
  body .home .top,
  body .home .bottom {
    text-align: center;
  }
  body .home .mouse_click {
    display: none;
  }
  body .hero {
    padding: 5rem 0 2rem 0;
  }
  body .hero .container_box {
    margin-left: 2%;
  }
  body .hero .container_box .container_1 .img_bg {
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
  }
  body .hero .container_box .container_2 {
    position: absolute;
    top: 0px;
  }
  body .hero .container_box .container_2 .img_man {
    width: 80vw;
    height: 80vw;
  }
  body .hero .container_box .container_3 {
    height: 85%;
    width: 70%;
    top: 10vw;
    left: 10vw;
  }
  body .hero .container_box .container_4 {
    height: 75%;
    width: 84%;
  }
  body .hero .container_box .container_4 .mini_box {
    height: 75%;
  }
  body .hero .container_box .container_4 .mini_box .box_1 {
    width: 15vw;
    height: 15vw;
    right: -15%;
  }
  body .hero .container_box .container_4 .mini_box .box1_inside {
    width: 15vw;
    height: 15vw;
  }
  body .hero .container_box .container_4 .mini_box .box_2 {
    width: 20vw;
    height: 20vw;
  }
  body .hero .container_box .container_4 .mini_box .box2_inside {
    width: 20vw;
    height: 20vw;
  }
  body .hero .container_box .container_4 .mini_box .box_3 {
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  body .hero .container_box .container_4 .mini_box .box3_inside {
    width: 10vw;
    height: 10vw;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h2 {
    color: #6e50f0;
    font-size: 1.15rem;
    font-weight: 600;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 h3 {
    color: #000;
    font-size: 0.5rem;
    font-weight: 600;
  }
  body .hero .container_box .container_4 .mini_box .box_inside .box_inside2 i {
    color: #ef5c6e;
    font-size: 1.75rem;
  }
  body .hero .top .xl {
    font-size: 2.25rem;
    padding: 1rem 0;
    letter-spacing: 3px;
  }
  body .about .pad_y {
    padding: 1rem 0 0 0;
  }
  body .about .col_about_left {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
  }
  body .about .col_about_left .img_about {
    width: 60vw;
  }
  body .about .col_about_left .box_about {
    width: 60vw;
    height: 60vw;
    top: -35px;
    left: 42%;
    transform: translateX(-50%);
    border-radius: 15px;
  }
  body .about .col_about_left .text_container .box_text .xxxl {
    font-size: 15rem;
  }
  body .about .col_about_left .text_container .box_text {
    bottom: -50px;
    left: 27px;
  }
  body .about .col_about_left .text_container .box_text .xxxl {
    font-size: 10rem;
  }
  body .about .col_about_right {
    text-align: center;
  }
  body .about .col_about_right .top {
    padding: 0.25rem;
  }
  body .portfolio .container_section {
    padding: 1.6rem 0 0 0;
  }
  body .portfolio .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .portfolio .owl-carousel .owl-item .box {
    min-width: 200px;
    min-height: 250px;
  }
  body .portfolio .owl-carousel .owl-item .box:hover img {
    transform: scale(1.2);
  }
  body .portfolio .owl-carousel .owl-item img {
    width: 50%;
  }
  body .portfolio .owl-carousel .owl-item:nth-child(odd) .box {
    margin-top: 0;
  }
  body .portfolio .owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .portfolio .owl-carousel .owl-stage .active.center {
    padding: 1rem 1.5rem;
  }
  body .service {
    padding-bottom: 0;
  }
  body .service .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  body .service .bottom {
    padding: 1rem 0;
  }
  body .skill .box_text {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  body .skill .box_text .xxxl {
    font-size: 15rem;
    font-size: min(max(5rem, 12vw), 15rem);
    font-size: clamp(5rem, 12vw, 15rem);
    color: transparent;
    font-weight: 800;
    opacity: .1;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: -8px;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    -webkit-text-stroke: 1px black;
  }
  body .skill .grid {
    gap: 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  body .skill .grid .grid-col-1 {
    padding: 1rem;
  }
  body .skill .grid .grid-col-1 .col_about_left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  body .skill .grid .grid-col-1 .col_about_left .box_about {
    width: 30vw;
    height: 30vw;
    left: -5px;
  }
  body .skill .grid .grid-col-1 .col_about_left .img_about {
    width: 30vw;
    height: 30vw;
    left: 15px;
    top: -30px;
    position: relative;
    border-radius: 5px;
  }
  body .skill .grid .grid-col-1 .col_about_left .img_front {
    position: absolute;
    width: auto;
    height: 30vw;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
  }
  body .skill .grid .grid-col-3 {
    grid-column: 1/2;
    padding: 0 1rem;
  }
  body .speciality .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
