// COLORS 

$color1 : #ef5c6e;
$color2 : #6e50f0;
$clr_text : #b4b2c0;
$clr_bg : #f7f8fc;
$white : #fff;
$black : #000;


// FONTS 

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

$font1: 'Montserrat',
sans-serif;
$font2: 'Open Sans',
sans-serif;

$fonts: "Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Open Sans",
"Helvetica Neue",
sans-serif;

// FONT SIZE

$fs_xl : 2rem;
$fs_l : 1.25rem;
$fs_m : 1rem;
$fs_s : .75rem;
$fs_xs : .5rem;


// Spacing

$s4: 2rem;
$s3: 1.6rem;
$s2: 0.8rem;
$s1: 0.4rem;