body {
    font-family: $font1;
}

img {
    width: 100%;
}

.home {
    background: rgb(107, 107, 107);
    background: url(../image/bg1.jpg);
    background-size: cover;
    // min-height: 100vh;
    position: relative;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.container_section {
    padding: $s4 0;
}

.relative_box {
    position: relative;
}

.centered {
    display: flex;
    justify-content: center;
}

.colored {
    color: $color2;
}

.ash {
    color: $clr_text;
    padding: $s2 0;
}

.subhead {
    font-weight: 600;
    font-family: $font1;
    font-size: $fs_lm;
}


.head {
    font-weight: 800;
    font-family: $font1_medium;
    font-size: $fs_xl;
    letter-spacing: 2px;
    line-height: 1.25;
    padding: $s2 0;
}

.m {
    font-size: $fs_lm;
    padding: 0 0 $s2 0;
    line-height: 1.5;
}

.l {
    font-size: $fs_xl;
    padding: $s05 0 0 0;
    line-height: 1.5;
}

.xl {
    padding: $s3 0;
    font-size: $fs_xxxxl;
    font-family: $font1_bold;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text {
    text-align: justify;
    line-height: 1.5;
}

.pad_y {
    padding: 2rem 0;
}

.pad_x {
    padding: 0 2rem;
}

.signature {
    font-size: $fs_l;
    font-family: $font2;
    color: $color1;
    font-weight: 600;
    transform: rotate(-15deg);
    padding: $s1 $s3;
    border-radius: 25px;

    &:hover {
        color: $color2;
        outline: 2px solid $color2;
        transform: rotate(0deg);
    }
}


// BUTTONS 

.btn_common {
    font-family: $font1;
    font-weight: 500;
    padding: $s2 $s5;
    border-radius: 25px;
    margin: $s2;

    &:hover {
        color: $color1;
        background: $white;
        outline: 2px solid $color1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.btn_colored {
    color: $white;
    background: $color1;
    outline: 2px solid $color1;

    &:hover {
        color: $color1;
        background: $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.tinybar {
    position: relative;
    outline: 2px solid $white;

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 5px;
        right: -2px;
        top: 25px;
        transform: translateY(-50%);
        // top: 50%;
        background: $color1;

    }


    &:hover::before {
        right: -17px;
        height: 4px;
    }
}


// Progress Bar

.ab-progress {

    .ab-progress-bar {
        background: linear-gradient(to left, $color2, $color1);
    }

    .progress-bar-wrap {
        background: rgb(221, 221, 221);
    }

    .percent{
        color: $color1;
    }

    .progress-indicator-inner {
        background: transparent;
    }

    .down-arrow {
        border-top: 7px solid $white;
    }

    .progress-title {
        color: $black;
        font-family: $font1_medium;
        font-size: $fs_m;
        font-weight: 800;
    }
}


// ADDING SIMPLE STYLE NAVBAR SCROLLING STYLE

// .fixed-top.scrolled {
//     background-color: rgb(150, 20, 20) !important;
//     transition: background-color 200ms linear;
//     padding: 1rem 0;
//   }