/* Header Section Starts */

.header {
    // width: auto;
    overflow-x: hidden;
    padding: 2rem;

    .nav_container {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        a {
            img {
                // width: 45%;
                width: 7rem;
                // width: 8vw;
            }
        }

        #Nav{

            .nav-link {
                color: $black;
                font-size: $fs_ls;
                font-weight: 600;
                padding: .75rem;
                margin: 0 .75rem;
                text-transform: capitalize;

                &:hover {
                    color: $color1;
                }

                &.active{
                    color: $color1;
                    
                    &:hover{
                        color: $black;

                    }
                }

                &.download{
                    border: 2px solid $color1;
                    border-radius: 100px;
                    padding: .75rem 1.5rem;

                    &:hover{
                        border: 2px solid $color1;
                        background: $color1;
                        color: $white;
                    }
                }


            }

            
        }

    }

}

/* Header Section Ends */