// SOCIAL LINKS

@mixin social_links {
    position: fixed;
    bottom: 80px;
    left: -5px;
    transform: none;

    ul {
        display: flex;
        flex-direction: column;
        transform: rotate(0deg);

        a {
            span {
                display: none;
            }
        }
    }
}

// GLOBAL

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// HERO SECTION

@mixin box_like {

    .container_box {
        margin-left: 2%;

        .container_1 {

            .img_bg {
                height: 80vw;
                width: 80vw;
                border-radius: 50%;
            }
        }


        .container_2 {
            position: absolute;
            top: 0px;

            .img_man {
                width: 80vw;
                height: 80vw;
            }
        }

        .container_3 {
            height: 85%;
            width: 70%;
            top: 10vw;
            left: 10vw;
        }

        .container_4 {

            height: 75%;
            width: 84%;

            .mini_box {
                height: 75%;

                .box_1 {
                    width: 15vw;
                    height: 15vw;
                    right: -15%;
                }

                .box1_inside {
                    width: 15vw;
                    height: 15vw;
                }


                .box_2 {
                    width: 20vw;
                    height: 20vw;

                }


                .box2_inside {
                    width: 20vw;
                    height: 20vw;
                }


                .box_3 {
                    width: 10vw;
                    height: 10vw;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }


                .box3_inside {
                    width: 10vw;
                    height: 10vw;
                }


                .box_inside {


                    .box_inside2 {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        h2 {
                            color: $color2;
                            font-size: $fs_ml;
                            font-weight: 600;
                        }

                        h3 {
                            color: $black;
                            font-size: $fs_xs;
                            font-weight: 600;
                        }

                        i {
                            color: $color1;
                            font-size: $fs_l;
                        }
                    }

                }

            }

        }

    }
}

// ABOUT SECTION

@mixin img_box {

    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;

    .img_about {
        width: 60vw;
    }

    .box_about {
        width: 60vw;
        height: 60vw;
        top: -35px;
        left: 42%;
        transform: translateX(-50%);
        border-radius: 15px;
    }

    .text_container {

        .box_text {

            .xxxl {
                font-size: 15rem;
            }
        }
    }

}