@media (min-width: 767.99px) and (max-width: 991.99px) {

    .header {
        padding: 1.25rem 0 1rem 0;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .top,
    .bottom {
        text-align: center;
    }

    .hero {

        .container_box {
            margin-left: 0;
        }
    }

    .about {

        .col_about_left {
            position: relative;
            top: 5px;

            .img_about {
                text-align: center;
                width: 55vw;
                margin: 0 auto;
            }

            .box_about {
                border-radius: 15px;
                width: 62%;
                height: 100%;
                top: -12%;
                left: 24%;
            }
        }
    }


}

@media (min-width: 575.99px) and (max-width: 767.98px) {


    .p_s3 {
        padding: $s3 0;
    }

    .header {
        padding: $s3 $s05;
    }

    .head {
        font-size: 1.75rem;
        letter-spacing: 2px;
        line-height: 1.25;
        padding: $fs_xs 0;
    }

    .subhead {
        font-size: $fs_lm;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    body {

        .row_sided {

            @include social_links;

        }
    }


    .hero {

        padding-bottom: 1rem;

        .top {
            padding: 0 $s1;

            .xl {
                padding: $s1;
                font-size: $fs_xxl;
                letter-spacing: 5px;
                display: flex;
                justify-content: center;
            }
        }

        .bottom {
            text-align: center;
        }



        @include box_like;



        .mouse_click {

            &::before {

                // bottom: 5vw;
                // right: 13vw;
                bottom: 50px;
                right: 75px;
                // bottom: 2%;
                // right: 15%;
            }

            &::after {
                // bottom: 8.5vw;
                // right: 14.3vw;
                bottom: 65px;
                right: 82px;
            }

            &:hover {
                &::before {
                    background: $color1;
                    // outline: 2px solid $white;
                }

                &::after {
                    background: $white;
                }
            }
        }


    }


    .about {

        .col_about_left {

            @include img_box;

        }

        .col_about_right {
            text-align: center;

            .top {
                padding: 0.25rem;
            }
        }

    }


}



/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {

    .container {
        max-width: 90%;
        // border: 1px solid red;
        margin: 0 auto;
    }

    .col-xs-1 {
        width: 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
    }

    .col-xs-2 {
        width: calc(8.333333333333334*2%);
        flex: 0 0 calc(8.333333333333334*2%);
    }

    .col-xs-3 {
        width: calc(8.333333333333334*3%);
        flex: 0 0 calc(8.333333333333334*3%);

    }

    .col-xs-4 {
        width: calc(8.333333333333334*4%);
        flex: 0 0 calc(8.333333333333334*4%);

    }

    .col-xs-5 {
        width: calc(8.333333333333334*5%);
        flex: 0 0 calc(8.333333333333334*5%);
    }

    .col-xs-6 {
        width: calc(8.333333333333334*6%);
        flex: 0 0 calc(8.333333333333334*6%);
    }

    .col-xs-7 {
        width: calc(8.333333333333334*7%);
        flex: 0 0 calc(8.333333333333334*7%);
    }

    .col-xs-8 {
        width: calc(8.333333333333334*8%);
        flex: 0 0 calc(8.333333333333334*8%);
    }

    .col-xs-9 {
        width: calc(8.333333333333334*9%);
        flex: 0 0 calc(8.333333333333334*9%);
    }

    .col-xs-10 {
        width: calc(8.333333333333334*10%);
        flex: 0 0 calc(8.333333333333334*10%);
    }

    .col-xs-11 {
        width: calc(8.333333333333334*11%);
        flex: 0 0 calc(8.333333333333334*11%);
    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }

    body {

        .row_sided {
            @include social_links;
        }


        .home {

            .header {
                padding: 1rem 0.5rem;
            }

            .top {
                .xl {
                    padding: 0.4rem;
                    font-size: $s5;
                    letter-spacing: 3px;
                }
            }

            .top,
            .bottom {
                text-align: center;
            }

            .mouse_click{
                display: none;
            }
        }

        .hero {
            @include box_like;

            padding-top: 5rem;

            .top{

                .subhead {
                font-size: 1.5rem;
                }

                .xl {                    
                    font-size: 2rem;
                }
            }
        }

        .about {

            .col_about_left {

                @include img_box;

                .text_container {

                    .box_text {
                        bottom: -50px;
                        left: 27px;

                        .xxxl {
                            font-size: 10rem;
                        }
                    }
                }
            }
        }

    }

}