@import 'config';
@import 'globalclass';
@import 'sidelinks';
@import 'mixin';
@import 'header';

// Hero Section Starts

.hero {
    // position: relative;
    padding-top: 8rem;

    .top {

        // margin: $s4 0;
        font-family: $font1;
        padding: $s2;

    }

    .bottom {


        .btn_common {
            font-family: $font1;
            font-weight: 500;
            padding: $s2 $s5;
            border-radius: 25px;
            margin: $s2;

            &:hover {
                color: $color1;
                background: $white;
                outline: 2px solid $color1;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }

        .btn_colored {
            color: $white;
            background: $color1;
            outline: 2px solid $color1;

            &:hover {
                color: $color1;
                background: $white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }

        .tinybar {
            position: relative;
            outline: 2px solid $white;

            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 5px;
                right: -2px;
                top: 25px;
                transform: translateY(-50%);
                // top: 50%;
                background: $color1;

            }


            &:hover::before {
                right: -17px;
                height: 4px;
            }
        }
    }


    .container_box {
        position: relative;
        width: auto;
        margin-left: 25%;

        .container_1 {

            .img_bg {
                background-color: rgb(87, 87, 87);
                height: 400px;
                width: 400px;
                border-radius: 50%;

            }
        }


        .container_2 {
            position: absolute;
            top: 0px;

            .img_man {
                border-radius: 50%;
                height: 400px;
                width: 400px;
            }
        }

        .container_3 {
            height: 335px;
            width: 335px;
            background: lighten($color1, 15%);
            opacity: .35;
            position: absolute;
            top: 50px;
            left: 5px;
            transform: rotate(60deg);
        }

        .container_4 {

            height: 295px;
            width: 350px;
            border: 5px solid (darken($color1, 3%));
            position: absolute;
            top: 40px;

            .mini_box {
                position: relative;
                height: 295px;

                .box_1 {
                    position: absolute;
                    top: 10px;
                    right: -100px;
                    width: 150px;
                    height: 150px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }

                .box1_inside {
                    width: 150px;
                    height: 150px;
                }


                .box_2 {
                    position: absolute;
                    bottom: -35px;
                    left: -35px;
                    width: 200px;
                    height: 200px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }


                .box2_inside {
                    width: 200px;
                    height: 200px;
                }


                .box_3 {
                    position: absolute;
                    bottom: -45px;
                    right: -35px;
                    width: 80px;
                    height: 80px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }


                .box3_inside {
                    width: 80px;
                    height: 80px;
                }


                .box_inside {

                    position: relative;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

                    .box_inside2 {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        h2 {
                            color: $color2;
                            font-size: $fs_xl;
                            font-weight: 600;
                        }

                        h3 {
                            color: $black;
                            font-size: $fs_lm;
                            font-weight: 600;
                        }

                        i {
                            color: $color1;
                            font-size: $fs_xl;
                        }
                    }


                }


            }
        }


    }

    //  Clickable Mouse Starts 

    .mouse_click {

        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 30px;
            // background: $black;
            outline: 2px solid $black;
            border-radius: 8px;
            bottom: 50px;
            right: 200px;
            // bottom: 2%;
            // right: 15%;
        }

        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 8px;
            // background: $black;
            background: $black;
            border-radius: 8px;
            bottom: 65px;
            right: 207px;
            // bottom: 5%;
            // right: 15.5%;
            animation: 1.75s up_down linear infinite;
        }

        &:hover {
            &::before {
                background: $color1;
                // outline: 2px solid $white;
            }

            &::after {
                background: $white;
            }
        }
    }

    //  Clickable Mouse Ends 

}

@keyframes up_down {

    0% {
        bottom: 67px;
    }

    25% {
        bottom: 65px;
    }

    50% {
        bottom: 63px;
    }

    75% {
        bottom: 65px;
    }

    100% {
        bottom: 67px;
    }

}






// Hero Section Ends




// About Section Starts

.about {
    position: relative;
    min-height: 90vh;

    .col_about_left {
        // background: rgb(70, 70, 70);
        position: absolute;
        top: -60px;

        .img_about {
            background: url(../image/img_bg5.jpg) center;
            background-size: cover;
            border-radius: 15px;
            text-align: center;
            width: 35vw;
            height: auto;
            overflow: hidden;
            top: -20px;
            position: relative;

        }

        .box_about {
            border: 5px solid $color2;
            width: 35vw;
            height: 35vw;
            position: absolute;
            top: -16%;
            left: -12%;
            z-index: 1;
        }

        .text_container {

            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;

            .box_text {

                position: absolute;
                bottom: -100px;
                left: 16px;

                .xxxl {
                    font-size: 270px;
                    font-weight: 800;
                    color: $white;
                }
            }
        }

    }


    .col_about_right {

        .top {
            padding: $s4;
        }

        .bottom {
            padding: $s1 $s4;
            font-weight: 600;

        }
    }


}

// About Section Ends



// Portfolio Section Starts

.portfolio {


    .owl-carousel {


        .owl-item {

            .box {
                min-width: 200px;
                min-height: 220px;
                border-radius: 15px;
                background-color: rgb(255, 117, 5);
            }

            &:nth-child(odd) {
                background-color: rgb(0, 245, 253);
                margin-top: 50px;
            }

        }



    }



    // Portfolio Section Ends


    @import 'footer';
    @import 'sidenav';
    @import 'responsive';