@import 'partials/config';
@import 'partials/globalclass';
@import 'partials/sidelinks';
@import 'partials/mixin';
@import 'partials/header';


// Hero Section Starts

.hero {
    position: relative;
    padding: 9rem 0;
    bottom: 0;
    // max-height: 100vh;

    .box_text {
        right: 0;
        @include text_outline;
    }

    .top {

        // margin: $s4 0;
        font-family: $font1;
        padding: $s2;

    }

    .bottom {


        .btn_common {
            font-family: $font1;
            font-weight: 500;
            padding: $s2 $s5;
            border-radius: 25px;
            margin: $s2;

            &:hover {
                color: $color1;
                background: $white;
                outline: 2px solid $color1;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }

        .btn_colored {
            color: $white;
            background: $color1;
            outline: 2px solid $color1;

            &:hover {
                color: $color1;
                background: $white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }

        .tinybar {
            position: relative;
            outline: 2px solid $white;

            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 5px;
                right: -2px;
                top: 25px;
                transform: translateY(-50%);
                // top: 50%;
                background: $color1;

            }


            &:hover::before {
                right: -17px;
                height: 4px;
            }
        }
    }


    .container_box {
        position: relative;
        width: auto;
        margin-left: 25%;

        .container_1 {

            .img_bg {
                background-color: rgb(87, 87, 87);
                height: 400px;
                width: 400px;
                border-radius: 50%;

            }
        }


        .container_2 {
            position: absolute;
            top: 0px;

            .img_man {
                border-radius: 50%;
                height: 400px;
                width: 400px;
            }
        }

        .container_3 {
            height: 335px;
            width: 335px;
            background: lighten($color1, 15%);
            opacity: .35;
            position: absolute;
            top: 50px;
            left: 5px;
            transform: rotate(60deg);
        }

        .container_4 {

            height: 295px;
            width: 350px;
            border: 5px solid (darken($color1, 3%));
            position: absolute;
            top: 40px;

            .mini_box {
                position: relative;
                height: 295px;
                z-index: 10;

                .box_1 {
                    position: absolute;
                    top: 10px;
                    right: -100px;
                    width: 150px;
                    height: 150px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }

                .box1_inside {
                    width: 150px;
                    height: 150px;
                }


                .box_2 {
                    position: absolute;
                    bottom: -35px;
                    left: -35px;
                    width: 200px;
                    height: 200px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }


                .box2_inside {
                    width: 200px;
                    height: 200px;
                }


                .box_3 {
                    position: absolute;
                    bottom: -45px;
                    right: -35px;
                    width: 80px;
                    height: 80px;
                    background: $white;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                }


                .box3_inside {
                    width: 80px;
                    height: 80px;
                }


                .box_inside {

                    position: relative;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

                    .box_inside2 {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        h2 {
                            color: $color2;
                            font-size: $fs_xl;
                            font-weight: 600;
                        }

                        h3 {
                            color: $black;
                            font-size: $fs_lm;
                            font-weight: 600;
                        }

                        i {
                            color: $color1;
                            font-size: $fs_xl;
                        }
                    }


                }


            }
        }


    }

    //  Clickable Mouse Starts 

    .mouse_click {

        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 30px;
            // background: $black;
            outline: 2px solid $black;
            border-radius: 8px;
            bottom: 50px;
            right: 200px;
            // bottom: 2%;
            // right: 15%;
        }

        &::after {
            position: absolute;
            content: '';
            width: 5px;
            height: 8px;
            // background: $black;
            background: $black;
            border-radius: 8px;
            bottom: 65px;
            right: 207px;
            // bottom: 5%;
            // right: 15.5%;
            animation: 1.75s up_down linear infinite;
        }

        &:hover {
            &::before {
                background: $color1;
                // outline: 2px solid $white;
            }

            &::after {
                background: $white;
            }
        }
    }

    //  Clickable Mouse Ends 

}

@keyframes up_down {

    0% {
        bottom: 67px;
    }

    25% {
        bottom: 65px;
    }

    50% {
        bottom: 63px;
    }

    75% {
        bottom: 65px;
    }

    100% {
        bottom: 67px;
    }

}

// Hero Section Ends


// About Section Starts

.about {
    position: relative;

    .col_about_left {
        // background: rgb(70, 70, 70);
        position: absolute;
        top: -60px;

        .img_about {
            background: url(../image/img_bg5.jpg) center;
            background-size: cover;
            border-radius: 15px;
            text-align: center;
            width: 35vw;
            height: auto;
            overflow: hidden;
            top: -20px;
            position: relative;

        }

        .box_about {
            border: 5px solid $color2;
            width: 35vw;
            height: 35vw;
            position: absolute;
            top: -16%;
            left: -12%;
            z-index: 1;
        }

        .text_container {

            @include text_bigline;
        }


    }


    .col_about_right {

        .top {
            padding: $s4;

            .text {
                padding: 1rem 0;
                line-height: 1.5;
            }
        }

        .bottom {
            padding: $s1 $s4;
            font-weight: 600;

        }
    }


}

// About Section Ends



// Portfolio Section Starts

.portfolio {


    .owl_portfolio {

        .owl-item {

            .box {
                min-width: 300px;
                min-height: 380px;
                max-width: 400px;
                max-height: 450px;
                border-radius: 10px;
                background-color: rgba(255, 118, 5, 0.808);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                overflow: hidden;

                @include centered;


                &:hover {


                    img {
                        transform: scale(.65) rotate(10deg);
                        border-radius: 30px;
                        // transform: rotate(30deg);
                    }
                }
            }

            img {
                width: 75%;
            }

            &:nth-child(odd) .box {
                background-color: rgba(0, 245, 253, 0.808);
                margin-top: 50px;
            }

        }

    }




}


// Portfolio Section Ends


// Service Section Starts

.service {

    padding: $s6 0;

    .bottom {
        padding: $s5 0;
    }

    .row {
        @include centered;
    }

    .box {
        display: flex;
        flex-wrap: nowrap;
        padding: $s3;
        margin: $s2;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, .2);
            margin-top: 1px;

            .left {

                .left_box {

                    &::before {
                        background: #fcd985;

                    }

                    &::after {
                        background: #f2f5fa;
                    }

                    i {
                        color: $color2;
                    }
                }
            }
        }

        .left {
            padding: $s4;

            .left_box {

                position: relative;

                &::before {
                    width: 40px;
                    height: 40px;
                    background: #f2f5fa;
                    z-index: -100;
                }

                &::after {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background: #fcd985;
                    bottom: -20px;
                    right: -20px;
                    z-index: -100;
                }

                i {
                    position: relative;
                    top: 15px;
                    left: 15px;
                    font-size: $fs_xxxxl;
                    color: $color1;
                }
            }
        }

        .right {
            padding: $s4;

            .text {
                line-height: 1.35;
            }

            .btn_common {
                margin: 0 0 0 -1rem;
                padding: 0.4rem 1rem 0.4rem 1rem;
                font-weight: 600;
            }

            .tinybar {
                outline: 1px solid $white;

                &::before {
                    height: 3px;
                    right: -10px;
                    top: 1.2rem;
                }

                &:hover::before {
                    height: 4px;
                    right: -16px;
                }
            }

        }


    }
}

// Service Section Ends



// Skill Section Starts


.skill {

    .row {
        position: relative;
    }

    .box_text {

        left: -12%;
        @include text_outline;
    }



    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 1rem;

        justify-content: center;
        // align-items: center;
        // justify-items: center;


        .grid-col {

            .subhead {
                text-align: center;
            }
        }

        .grid-col-1 {

            grid-row: 1/3;
            padding: 2rem;

            .col_about_left {

                position: relative;

                .box_about {
                    border: 5px solid $color1;
                    width: 22vw;
                    height: 30vw;
                    position: absolute;
                    top: -50px;
                }

                .img_about {
                    background: rgb(148, 148, 148);
                    background: url(../image/img_bg5.jpg) center;
                    background-size: cover;
                    border-radius: 10px;
                    width: 22vw;
                    height: 30vw;
                    position: absolute;
                    top: 0;
                    left: 10%;
                }

                .img_front {
                    position: absolute;
                    width: auto;
                    height: 30vw;
                    left: 2%;
                }
            }


        }

        .grid-col-3 {

            justify-self: stretch;
            grid-column: 2/3;
        }
    }




}


// Skill Section Ends



// Speciality Section Starts
.speciality {

    position: relative;

    .box_text {

        @include text_outline;

        right: 0;
        top: 100%;
    }

    .bottom {

        @include box_serve;
        @include box_left_right;
    }
}

// Speciality Section Ends


// Testimony Section Starts

.testimony {

    .bg_cover {
        min-height: 75vh;
        background: $color2;
        position: relative;
        color: $white;
    }

    .text_container {

        @include text_bigline;

        .box_text {

            position: absolute;
            bottom: -120px;
        }
    }

    .grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        padding: 4rem;

        .grid-col {
            overflow: hidden;
        }
    }

    .left {
        padding: 1rem 2rem;

        .head {
            font-size: 14rem;
            font-family: 'Montagu Slab', serif;
            transform: rotate(180deg);
            display: flex;
            justify-content: end;
            margin-top: -8rem;
        }

        .subhead_s {
            font-size: 1.25rem;
        }

        .subhead {
            font-size: 2.5rem;
            letter-spacing: .125rem;
            padding: .75rem 0;
        }

        .text {
            font-size: 1rem;
            font-weight: 300;
            padding: .5rem 0;
        }
    }

    .right {
        padding: 1rem 2rem;

        .item {

            .subhead {
                font-style: italic;
                font-weight: 400;
                text-align: justify;
                padding: 1.5rem 0;
            }

            .xxl {
                font-size: $fs_s;
                font-weight: 200;
                position: relative;
            }

            .client {
                font-size: $fs_m;
                font-weight: 400;
                color: $white;
                margin-left: 30px;

                &::before {
                    content: " ";
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    top: 10px;
                    left: -10px;
                    background: rgb(255, 255, 255);
                }
            }
        }

    }



    .owl-dots {

        padding: 0.5rem 0;

        .owl-dot {

            
            span {
                width: 50px;
                height: 5px;
                margin: 3rem 1.5rem;
                background: rgb(214, 214, 214);
                border-radius: 1px;
                position: relative;
            }

            &.active {

                span {
                    background: $color1;
                    outline: none;

                    @include arrow;

                }
            }

            &:hover {

                span {
                    background: $white;

                    @include arrow;

                    &::before,
                    &::after {
                        background: $white;
                    }


                }
            }


        }
    }

}


// Testimony Section Ends



// Brand Section Starts

.brand {
    position: relative;

    .box_text {

        @include text_outline;

        right: 0;
        top: 0;
    }

    .bg_cover {
        min-height: 30vh;
        background: $color1;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: $s5;
    }

    .subhead{
        color: $white;
        line-height: 1.5;
        padding: $s5;
    }

    .owl-carousel{

        display: flex;
        align-items: center;

        .item{
            padding: $s3 $s4;
            margin: $s3;

            img{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                opacity: .75;
                width: 300px;
                height: auto;
            }
        }
    }
}

// Brand Section Ends

@import 'partials/footer';
@import 'partials/sidenav';
@import 'partials/responsive';