// COLORS 

$color1 : #ef5c6e;
$color2 : #6e50f0;
$color2_accent : #beb0fc;
$clr_text : #9b9b9b;
$clr_bg : #f7f8fc;
$white : #fff;
$black : #000;


// FONTS 

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Thin', sans-serif;
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins Medium', sans-serif;
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins Bold', sans-serif;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}


@font-face {
    font-family: 'Parisienne', cursive;
    src: url(../assets/fonts/Parisienne/Parisienne-Regular.ttf);
}

$font1: 'Poppins', sans-serif;
$font1_thin: 'Poppins Thin', sans-serif;
$font1_medium: 'Poppins Medium', sans-serif;
$font1_bold: 'Poppins Bold', sans-serif;
$font2: 'Parisienne', cursive;

$fonts: "Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Open Sans",
"Helvetica Neue",
sans-serif;

// FONT SIZE

$fs_xxxxl : 3rem;
$fs_xxxl : 2.75rem;
$fs_xxl : 2.5rem;
$fs_xl2 : 2.25rem;
$fs_xl : 2rem;
$fs_l : 1.75rem;
$fs_lm : 1.5rem;
$fs_ls : 1.25rem;
$fs_ml : 1.15rem;
$fs_m : 1rem;
$fs_s : .75rem;
$fs_xs : .5rem;


// Spacing

$s6: 3.5rem;
$s5: 2rem;
$s4: 1.5rem;
$s3: 1rem;
$s2: 0.8rem;
$s05: 0.5rem;
$s1: 0.4rem;

