// Footer Section Starts

.footer {
  background: $clr_bg;
  padding: $s4 0 0 0;

  .footer_img {
    width: 32%;
  }

  .img1 {
    width: 3vw;
    padding: 10px;
    border-radius: 50%;
    background: $color2;
    margin: 0 0.5rem 0 0;
  }

  .social_links {
    transform: rotate(0deg);
    padding: $s4 0 0 0;

    li {

      &:first-child {
        a {
          padding-left: 0;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
      }

      a {

        &:hover {
          outline: none;
        }
      }

    }

  }

  .grid{
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 2rem;
  }

  .grid-col {
    padding: $s2;
  }

  .grid_2_col{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_col{
    padding: 0 $s2;
  }

  .img_wraper {
    padding: $s1 0;
  }

  .subhead {
    padding: $s3 0;
  }

  h6 {
    a {
      padding: $s1 0;
    }
  }

  .letter {
    // padding: $s3 0;
    margin: $s3 0;
    background: $white;
    display: flex;
    justify-content: space-around;
    color: $clr_text;

    .btn_cmn {
      padding: $s3 $s1;

      &:focus {
        color: $color2;
      }
    }

    button {
      background: $white;
      padding: $s3;

      i {
        color: $color1;
        font-size: $fs_l;
      }

      &:hover{
        i {
          color: $color2;
        }
      }
    }

  }



  .credit {
    padding: $s6 0 $s4 0;

    .right {
      a {
        padding: 0 $s4;
      }
    }

  }
}

// Footer Section Ends