@media (min-width: 767.99px) and (max-width: 991.99px) {

    .header {
        padding: 1.25rem 0 1rem 0;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .top,
    .bottom {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .hero {

        .container_box {
            margin-left: 0;
        }
    }

    .about {

        .col_about_left {
            position: relative;
            top: 5px;

            .img_about {
                text-align: center;
                width: 55vw;
                margin: 0 auto;
            }

            .box_about {
                border-radius: 15px;
                width: 62%;
                height: 100%;
                top: -12%;
                left: 24%;
            }
        }
    }

    .service {

        .box {

            @include centered;
            flex-direction: column;
            text-align: center;
        }
    }

    .skill {

        .grid {
            gap: 1rem;

            .grid-col-1 {

                grid-row: 1/2;
                padding: 0.5rem 2rem;

                .col_about_left {

                    .box_about {
                        top: -30px;
                    }
                }
            }

            .grid-col-3 {
                grid-column: 1/3;
                padding: 0 5rem;
            }
        }
    }

    .testimony {

        .left {
            .head {
                font-size: 11rem;
            }
        }

    }

    .contact {

        .head {
            text-align: center;
            font-size: 1.5rem;
        }

        .grid {
            grid-gap: 1rem;
        }

        .top {
            text-align: left;
            padding-bottom: 0;
        }

        .bottom {
            padding: 1rem;
        }

        .mapouter,
        .gmap_canvas {
            max-width: 60vw;
        }

        .form {
            padding: 1rem;
        }

        .message_box {
            padding: 0rem;
        }

    }

    .footer {

        .news{
             text-align: center;   
        }

         .grid-col-4 {
            grid-column: 1/-1;
        }
    }



}

@media (min-width: 575.99px) and (max-width: 767.98px) {


    .p_s3 {
        padding: $s3 0;
    }

    .header {
        padding: $s3 $s05;
    }

    .head {
        font-size: $fs_l;
        letter-spacing: 2px;
        line-height: 1.25;
        padding: $fs_xs 0;
    }

    .subhead {
        font-size: 1.35rem;
    }


    .l {
        font-size: $fs_lm;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    body {

        .row_sided {

            @include social_links;

        }
    }


    .hero {

        padding: 5rem 0;

        .top {
            padding: 0 $s1;

            .xl {
                padding: $s1;
                font-size: $fs_xxl;
                letter-spacing: 5px;
                display: flex;
                justify-content: center;
            }
        }

        .bottom {
            text-align: center;
        }

        @include box_like;

        .mouse_click {

            &::before {

                // bottom: 5vw;
                // right: 13vw;
                bottom: 50px;
                right: 75px;
                // bottom: 2%;
                // right: 15%;
            }

            &::after {
                // bottom: 8.5vw;
                // right: 14.3vw;
                bottom: 65px;
                right: 82px;
            }

            &:hover {
                &::before {
                    background: $color1;
                    // outline: 2px solid $white;
                }

                &::after {
                    background: $white;
                }
            }
        }


    }


    .about {

        .col_about_left {

            @include img_box;

        }

        .col_about_right {
            text-align: center;

            .top {
                padding: 0.25rem;
            }
        }

    }

    .service {

        .box {

            @include centered;
            flex-direction: column;
            text-align: center;
        }
    }

    .speciality {

        .box {

            @include centered;
            flex-direction: column;
            text-align: center;
        }
    }

    .skill {

        .grid {
            gap: 1rem;

            .grid-col-1 {

                grid-row: 1/2;

                .col_about_left {

                    .box_about {
                        top: -30px;
                    }
                }
            }

            .grid-col-3 {
                grid-column: 1/3;
                padding: 0 5rem;
            }
        }
    }

    .testimony {

        .grid {
            grid-gap: .5rem;
            grid-template-columns: 1fr;
            padding: 2rem;
        }

        .left {
            .head {
                font-size: 11rem;
            }
        }

        .owl-dots {
            padding: $s05 0 $s5 0;
        }
    }

    .brand {

        .bg_cover {

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .contact {

        .head {
            text-align: center;
        }

        .grid {
            grid-template-columns: 1fr;
            grid-gap: 1rem;

            .grid-col-1 {
                grid-column: 1/2;
            }

            .grid-col-2 {
                grid-column: 1/2;
            }

            .grid-col-3 {
                grid-column: 1/2;
                grid-row: 3/4;
            }
        }

        .top {
            display: flex;
            justify-content: center;
        }

        .bottom {
            padding: 1rem;
        }

        .mapouter,
        .gmap_canvas {
            max-width: 90vw;
        }

        .form {
            padding: 1rem;
        }

    }

    .footer {

        .grid {
            grid-template-columns: 1fr;
            grid-gap: 1rem;
        }

        .img_wraper {
            padding: 1rem 0;
            text-align: center;
        }

        .img1 {
            width: 10%;
        }

        .img2 {
            width: 26%;
        }

        .social_links {
            justify-content: center;
        }

        .subhead {
            text-align: center;
        }

        .grid_2_col {
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
    }


}



/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {


    // GLOBAL CLASS for responsive design

    .container {
        max-width: 86%;
        // border: 1px solid red;
        margin: 0 auto;
    }

    .col-xs-1 {
        width: 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
    }

    .col-xs-2 {
        width: calc(8.333333333333334*2%);
        flex: 0 0 calc(8.333333333333334*2%);
    }

    .col-xs-3 {
        width: calc(8.333333333333334*3%);
        flex: 0 0 calc(8.333333333333334*3%);

    }

    .col-xs-4 {
        width: calc(8.333333333333334*4%);
        flex: 0 0 calc(8.333333333333334*4%);

    }

    .col-xs-5 {
        width: calc(8.333333333333334*5%);
        flex: 0 0 calc(8.333333333333334*5%);
    }

    .col-xs-6 {
        width: calc(8.333333333333334*6%);
        flex: 0 0 calc(8.333333333333334*6%);
    }

    .col-xs-7 {
        width: calc(8.333333333333334*7%);
        flex: 0 0 calc(8.333333333333334*7%);
    }

    .col-xs-8 {
        width: calc(8.333333333333334*8%);
        flex: 0 0 calc(8.333333333333334*8%);
    }

    .col-xs-9 {
        width: calc(8.333333333333334*9%);
        flex: 0 0 calc(8.333333333333334*9%);
    }

    .col-xs-10 {
        width: calc(8.333333333333334*10%);
        flex: 0 0 calc(8.333333333333334*10%);
    }

    .col-xs-11 {
        width: calc(8.333333333333334*11%);
        flex: 0 0 calc(8.333333333333334*11%);
    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }

    // .head {
    //     font-size: 1.5rem;
    // }

    .subhead {
        font-size: 1.25rem;
    }

    .l {
        font-size: 1.75rem;
    }



    // CUSTOM STYLING for responsive design

    body {

        .row_sided {
            @include social_links;
        }


        .home {

            .header {
                padding: 1rem 0.25rem;
            }

            .top,
            .bottom {
                text-align: center;
            }

            .mouse_click {
                display: none;
            }
        }


        .hero {
            @include box_like;

            padding: 5rem 0 2rem 0;

            .top {


                .xl {
                    font-size: $fs_xl2;
                    padding: 1rem 0;
                    letter-spacing: 3px;
                }
            }
        }


        .about {

            .pad_y {
                padding: 1rem 0 0 0;
            }

            .col_about_left {

                @include img_box;

                .text_container {

                    .box_text {
                        bottom: -50px;
                        left: 27px;

                        .xxxl {
                            font-size: 10rem;
                        }
                    }
                }
            }

            .col_about_right {
                text-align: center;

                .top {
                    padding: 0.25rem;
                }
            }
        }


        .portfolio {

            .container_section {
                padding: 1.6rem 0 0 0;
            }

            .owl-carousel {

                .owl-item {

                    @include centered;

                    .box {
                        min-width: 200px;
                        min-height: 250px;

                        &:hover {

                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    img {
                        width: 50%;
                    }

                    &:nth-child(odd) .box {
                        margin-top: 0;
                    }

                }

                .owl-stage {

                    @include centered;

                    .active.center {
                        padding: 1rem 1.5rem;
                    }
                }


            }

        }


        .service {


            padding-bottom: 0;

            .box {

                @include centered;
                flex-direction: column;
                text-align: center;
            }

            .bottom {
                padding: 1rem 0;
            }
        }

        .skill {

            .box_text {
                left: 0;
                @include text_outline;
            }

            .grid {
                gap: 0;
                grid-template-columns: 1fr;
                justify-items: center;

                .grid-col-1 {
                    // grid-row: 1/1;
                    padding: 1rem;

                    .col_about_left {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .box_about {
                            width: 30vw;
                            height: 30vw;
                            left: -5px;
                        }

                        .img_about {
                            width: 30vw;
                            height: 30vw;
                            left: 15px;
                            top: -30px;
                            position: relative;
                            border-radius: 5px;
                        }

                        .img_front {
                            position: absolute;
                            width: auto;
                            height: 30vw;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -30px;
                        }
                    }
                }

                .grid-col-3 {
                    grid-column: 1/2;
                    padding: 0 1rem;
                }
            }

        }

        .speciality {

            .box {

                @include centered;
                flex-direction: column;
                text-align: center;
            }
        }

        .testimony {

            .grid {
                grid-gap: .5rem;
                grid-template-columns: 1fr;
                padding: 2rem;
            }

            .left,
            .right {
                padding: 0 2rem;
            }

            .left {
                text-align: center;

                .subhead_s {

                    margin-top: -25px;
                }

                .head {
                    font-size: 11rem;
                }

                .subhead {
                    font-size: $fs_l;
                    letter-spacing: .125rem;
                    padding: .75rem 0;
                }

                .text {
                    font-size: $fs_s;
                }
            }

            .right {

                .subhead {
                    font-size: $fs_m;
                }

                span,
                .client {
                    font-size: $fs_s;
                }

                .client::before {

                    content: " ";
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    top: 6px;
                }
            }

            .owl-dots {
                padding: 0 0 $s5 0;

            }



        }

        .brand {

            .bg_cover {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .head {
                text-align: center;
                padding: $s3;
            }

            .owl-carousel {
                .item {
                    padding: 1rem 1.5rem;
                    margin: 0;
                }
            }
        }

        .contact {

            .head {
                text-align: center;
            }

            .grid {
                grid-template-columns: 1fr;
                grid-gap: 1rem;

                .grid-col-1 {
                    grid-column: 1/2;
                }

                .grid-col-2 {
                    grid-column: 1/2;
                }

                .grid-col-3 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
            }

            .bottom {
                padding: 1rem;
            }

            .mapouter,
            .gmap_canvas {
                max-width: 80vw;
            }

            .form {
                padding: 1rem;
            }

            .message_box {
                padding: .5rem;
            }

        }

        .footer {

            .grid {
                grid-template-columns: 1fr;
                grid-gap: 0.5rem;
            }

            .img_wraper {
                padding: 1rem 0;
                text-align: center;
            }

            .img1 {
                width: 10%;
                padding: 5px;
            }

            .img2 {
                width: 26%;
            }

            .social_links {
                justify-content: center;
            }

            .subhead {
                text-align: center;
            }

            .grid_2_col {
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }
        }
    }

}


@media screen and (max-width: 392.98px) {

    body {

        .head {
            font-size: 1.5rem;
        }

        .subhead {
            font-size: 1.35rem;
        }

        .brand {

            .owl-carousel {

                .item {
                    padding: 0.5rem;
                    margin: 0;
                }
            }
        }

        .contact {

            .bottom {
                padding: .25rem;
            }

            table {
                tr {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }

            .form {
                padding: .25rem;
            }

            .message_box {
                padding: .25rem;

                .input {
                    padding: .5rem;
                }

                .submit {
                    padding: 1rem;
                }


            }

        }

        .footer {
            .grid_2_col {
                grid-template-columns: 1fr;
                text-align: center;
            }
        }


    }


}