// Side social media links

body {

    position: relative;

    .row_sided {
        position: fixed;
        top: 360px;
        left: -120px;
        z-index: 100;
    }

    .social_links {
        display: flex;
        transform: rotate(270deg);

        a {
            padding: $s2 $s3;

            i,
            span {
                color: $color2;
                padding: 0 $s1 0 0;
            }

            span {
                color: $black;
                font-weight: 600;
            }

            &:hover {

                outline: 2px solid $color2;
                border-radius: 25px;

                i,
                span {
                    color: $color1;
                }
            }
        }

    }


}